/* https://stackoverflow.com/questions/55679244/css-flexbox-reordering-elements-in-mobile */

:root
{
	--text-color: #29561F; /* nowe: 4CAC27 stare: 29561F*/
	--gray-color: #79CB5C;
	--button-color: #4CAC27;
}

body
{
	color: var(--text-color);
}

#main-div
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 16px;
	
	border: 3px solid var(--text-color);
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* flex-basis: 50%; */
	flex-grow: 0;
	
	/* padding: 5px; */
}

.flex-item
{
	text-align: center;
	
	width: 45%;
	
	margin: 5px;
}

img
{
	border-radius: 25px;
	
	width: 200px;
	
	margin: 10px;
}

table
{
	margin-right: auto;
	margin-left: auto;
}

table th
{
	font-weight: normal;
}

.button-up
{
	vertical-align: top;
}

.click-button
{
	width: 200px;
	height: 50px;
	background-color: var(--button-color);
	border: 2px solid var(--text-color);
	
	font-family: Georgia;
	font-size: 25px;
	border-radius: 25px;
	
	cursor: pointer;
	
	/* margin: 5px; */
}

.click-button:hover
{
	background-color: var(--text-color);
	border: 2px solid black;
}

#button1
{
	margin-bottom: 10px;
}

hr
{
	border: 2px solid var(--text-color);
}

#m9
{
	width: 90%;

	text-align: center;
	font-weight: bold;
}

.center_div
{
	text-align: center;
	
	width: 90%;
	margin: 5px;
	
	font-size: 26px;
	font-weight: bold;
	
	background-color: var(--gray-color);
	
	border-radius: 25px;
}

#rainbow_text
{
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px red,
				 4px 4px orange,
				 6px 6px yellow,
				 8px 8px green,
				 10px 10px blue,
				 12px 12px purple;
}

.normal_letters
{
	font-size: 16px;
}

@media only screen and (max-width: 1000px)
{
	#main-div
	{
		width: 85%;
		flex-direction: column;
		
		border: none;
	}
	
	.flex-item
	{
		width: 85%;
	}
	
	img
	{
		/* width: 150px; */
	}
	
	#m1
	{
		order: -3;
	}
	
	#m2
	{
		order: -3;
	}
	
	#m4
	{
		order: -2;
	}
	
	#m3
	{
		order: -1;
	}
	
	#m5
	{
	/* order: 4; */
	}
	
	#m6
	{
		/* order: 4; */
	}
	
	#m7
	{
		/* order: 4; */
	}
	
	#m8
	{
		/* order: 4; */
	}
}
